USE [QL_NhaSach]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MASACH] [char](10) NOT NULL,
	[MAPN] [char](10) NOT NULL,
	[SOLUONGNHAP] [int] NULL,
	[DONGIANHAP] [money] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [char](10) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU_NHANVIEN]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU_NHANVIEN](
	[MACV] [char](10) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[NGAYNHANCHUC] [datetime] NULL,
 CONSTRAINT [PK_CHUCVU_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[MAKH] [char](10) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[NGAYIN] [datetime] NULL,
	[PHUONGTHUC] [bit] NULL,
	[GIAMGIA] [money] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_SACH]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_SACH](
	[MASACH] [char](10) NOT NULL,
	[MAHD] [char](10) NOT NULL,
	[SOLUONGBAN] [int] NULL,
	[DONGIABAN] [money] NULL,
 CONSTRAINT [PK_HOADON_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [varchar](50) NULL,
	[DIEMTICHLUY] [int] NULL,
	[SDT] [char](10) NULL,
	[NGAYDANGKY] [datetime] NULL,
	[DIACHI] [varchar](100) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [char](10) NOT NULL,
	[TENNCC] [varchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [varchar](100) NULL,
	[THONGTINNCC] [varchar](500) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENTAIKHOAN] [char](10) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHANQUYEN] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [char](10) NOT NULL,
	[TENNXB] [varchar](50) NULL,
	[ThongTinNXB] [varchar](50) NULL,
	[DIACHI] [varchar](100) NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [char](10) NOT NULL,
	[MANCC] [char](10) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[TENPN] [varchar](50) NULL,
	[NGAYNHAP] [datetime] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](10) NOT NULL,
	[MANXB] [char](10) NOT NULL,
	[MATL] [char](10) NOT NULL,
	[TENSACH] [varchar](50) NULL,
	[NAMXB] [int] NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [char](10) NOT NULL,
	[TENTG] [varchar](50) NULL,
	[THONGTINTG] [varchar](500) NULL,
	[GHICHU] [varchar](50) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA_SACH]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA_SACH](
	[MASACH] [char](10) NOT NULL,
	[MATG] [char](10) NOT NULL,
 CONSTRAINT [PK_TACGIA_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [char](10) NOT NULL,
	[MATKHAU] [nchar](10) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 12/17/2022 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATL] [char](10) NOT NULL,
	[TENTL] [varchar](50) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MATL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETPHIEUNHAP] ([MASACH], [MAPN], [SOLUONGNHAP], [DONGIANHAP]) VALUES (N'MS01      ', N'PN01      ', 7, 1000000.0000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MASACH], [MAPN], [SOLUONGNHAP], [DONGIANHAP]) VALUES (N'MS04      ', N'PN04      ', 12, 120000.0000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MASACH], [MAPN], [SOLUONGNHAP], [DONGIANHAP]) VALUES (N'MS05      ', N'PN04      ', 8, 150000.0000)
GO
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV00      ', N'admin')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV01      ', N'Nhân viên quản lý')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV02      ', N'Nhân viên thu ngân')
GO
INSERT [dbo].[CHUCVU_NHANVIEN] ([MACV], [MANV], [NGAYNHANCHUC]) VALUES (N'CV00      ', N'NV09      ', CAST(N'2022-09-09T00:00:00.000' AS DateTime))
INSERT [dbo].[CHUCVU_NHANVIEN] ([MACV], [MANV], [NGAYNHANCHUC]) VALUES (N'CV01      ', N'NV02      ', CAST(N'2020-06-23T00:00:00.000' AS DateTime))
INSERT [dbo].[CHUCVU_NHANVIEN] ([MACV], [MANV], [NGAYNHANCHUC]) VALUES (N'CV01      ', N'NV07      ', CAST(N'2021-08-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYIN], [PHUONGTHUC], [GIAMGIA]) VALUES (N'HD01      ', N'KH02      ', N'NV01      ', CAST(N'2022-11-28T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYIN], [PHUONGTHUC], [GIAMGIA]) VALUES (N'HD02      ', N'KH02      ', N'NV01      ', CAST(N'2022-01-03T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYIN], [PHUONGTHUC], [GIAMGIA]) VALUES (N'HD03      ', N'KH01      ', N'NV02      ', CAST(N'2021-12-12T00:00:00.000' AS DateTime), 0, NULL)
GO
INSERT [dbo].[HOADON_SACH] ([MASACH], [MAHD], [SOLUONGBAN], [DONGIABAN]) VALUES (N'MS01      ', N'HD01      ', 12, NULL)
INSERT [dbo].[HOADON_SACH] ([MASACH], [MAHD], [SOLUONGBAN], [DONGIABAN]) VALUES (N'MS01      ', N'HD03      ', 10, NULL)
INSERT [dbo].[HOADON_SACH] ([MASACH], [MAHD], [SOLUONGBAN], [DONGIABAN]) VALUES (N'MS02      ', N'HD03      ', 5, NULL)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIEMTICHLUY], [SDT], [NGAYDANGKY], [DIACHI]) VALUES (N'KH01      ', N'Nguyen Tuu Tien', 100, N'0868303958', CAST(N'2020-01-03T00:00:00.000' AS DateTime), N'Phú Yên')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIEMTICHLUY], [SDT], [NGAYDANGKY], [DIACHI]) VALUES (N'KH02      ', N'Nguyen To Bao Ngoc', 50, N'0123456789', CAST(N'2021-06-24T00:00:00.000' AS DateTime), N'Cà Mau')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIEMTICHLUY], [SDT], [NGAYDANGKY], [DIACHI]) VALUES (N'KH03      ', N'Duong Thi Phuong Thi', 70, N'0192933831', CAST(N'2022-11-27T00:00:00.000' AS DateTime), N'TPHCM')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT], [DIACHI], [THONGTINNCC]) VALUES (N'NCC01     ', N'THAI HA BOOK', N'2822532641', N'QUAN BAC TU LIEM, HA NOI', N'Cong ty Co phan Sach Thai Ha (Thai Ha Books)')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT], [DIACHI], [THONGTINNCC]) VALUES (N'NCC02     ', N'PHUONG NAM BOOK', N'19006656  ', N'QUAN 11, TP HO CHI MINH', N'Cong ty TNHH Mot Thanh Vien Sach Phuong Nam')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT], [DIACHI], [THONGTINNCC]) VALUES (N'NCC03     ', N'DONG A BOOK', N'2839291286', N'QUAN 3, TP HO CHI MINH', N'Cong ty van hoa Dong A')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENTAIKHOAN], [HOTEN], [NGAYSINH], [SDT], [DIACHI], [PHANQUYEN]) VALUES (N'NV01      ', N'cuong1709 ', N'Nguyễn Văn Cường', CAST(N'1995-09-17T00:00:00.000' AS DateTime), N'0912211198', N'Qu?n 8, TP.HCM', 3)
INSERT [dbo].[NHANVIEN] ([MANV], [TENTAIKHOAN], [HOTEN], [NGAYSINH], [SDT], [DIACHI], [PHANQUYEN]) VALUES (N'NV02      ', N'van2202   ', N'Trần Bích Vân', CAST(N'1997-02-22T00:00:00.000' AS DateTime), N'0913231312', N'Qu?n Tân Phú, TP.HCM', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENTAIKHOAN], [HOTEN], [NGAYSINH], [SDT], [DIACHI], [PHANQUYEN]) VALUES (N'NV03      ', N'thu2109   ', N'Nguy?n C?m Thu', CAST(N'1992-09-21T00:00:00.000' AS DateTime), N'0936633336', N'Qu?n Bình Th?nh, TP.HCM', 3)
GO
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [ThongTinNXB], [DIACHI]) VALUES (N'NXB01     ', N'Nha xuat ban Tong hop thanh pho Ho Chi Minh', N'Website: http://www.nxbhcm.com.vn', N'62, Nguyen Thi Minh Khai, Phuong Da Kao, Quan 1, TP.HCM')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [ThongTinNXB], [DIACHI]) VALUES (N'NXB02     ', N'Nha xuat ban Kim Dong', N'Website: http://www.nxbkimdong.com.vn/', N'55, Quang Trung, Hai Ba Trung, Ha Noi')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [ThongTinNXB], [DIACHI]) VALUES (N'NXB03     ', N'Nha xuat ban Tre', N'Website: http://www.nxbtre.com.vn', N'161B Ly Chinh Thang, Phuong 7, Quan 3, Thanh pho Ho Chi Minh')
GO
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANCC], [MANV], [TENPN], [NGAYNHAP]) VALUES (N'PN01      ', N'NCC01     ', N'NV02      ', N'NHAP SACH THANG 11', CAST(N'2022-05-10T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANCC], [MANV], [TENPN], [NGAYNHAP]) VALUES (N'PN02      ', N'NCC03     ', N'NV04      ', N'NHAP SACH THANG 11 LAN 2', CAST(N'2022-07-24T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANCC], [MANV], [TENPN], [NGAYNHAP]) VALUES (N'PN03      ', N'NCC04     ', N'NV05      ', N'NHAP SACH THANG 4', CAST(N'2021-12-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[SACH] ([MASACH], [MANXB], [MATL], [TENSACH], [NAMXB], [DONGIA]) VALUES (N'MS01      ', N'NXB01     ', N'TL11      ', N'Mai Nha Cua Con', 2022, 100000.0000)
INSERT [dbo].[SACH] ([MASACH], [MANXB], [MATL], [TENSACH], [NAMXB], [DONGIA]) VALUES (N'MS02      ', N'NXB01     ', N'TL11      ', N'Ngai Keo', 2022, 200000.0000)
INSERT [dbo].[SACH] ([MASACH], [MANXB], [MATL], [TENSACH], [NAMXB], [DONGIA]) VALUES (N'MS03      ', N'NXB01     ', N'TL14      ', N'Tam Ly Lua Tuoi va Giao Duc', 2021, 300000.0000)
GO
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [THONGTINTG], [GHICHU]) VALUES (N'TG01      ', N' Elizabeth Blackburn - Elissa Epel', N'Tac gia Elizabeth Blackburn nghien cuu va cho ra nhung phuong phap moi cua khoa hoc ', NULL)
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [THONGTINTG], [GHICHU]) VALUES (N'TG02      ', N'Mac Van Trang', N'Tac Gia Mac Van Trang viet ve nhung tam ly cua nhung lua tuoi vi thanh nien', NULL)
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [THONGTINTG], [GHICHU]) VALUES (N'TG03      ', N'Bac si Le Tieu My', N'Bac si Le Tieu My tot nghiep bac si da khoa tai Dai hoc Y Duoc Can Tho vao nam 2007 va hoan thanh Khoa Chuyen khoa ve Ho tro sinh san tai CRESH, Dai hoc Quoc gia Singapore. Bac si Le Tieu My da cong tac voi rat nhieu Don vi Ho tro sinh san trong ca nuoc. Ngoai ra, bac si Le Tieu My con la dong tac gia mot so dau sach ve hiem muon va san phu khoa danh cho benh nhan. ', NULL)
GO
INSERT [dbo].[TACGIA_SACH] ([MASACH], [MATG]) VALUES (N'MS05      ', N'TG01      ')
INSERT [dbo].[TACGIA_SACH] ([MASACH], [MATG]) VALUES (N'MS03      ', N'TG02      ')
INSERT [dbo].[TACGIA_SACH] ([MASACH], [MATG]) VALUES (N'MS01      ', N'TG03      ')
GO
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU]) VALUES (N'anh2908   ', N'123456    ')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU]) VALUES (N'binh1203  ', N'123456    ')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU]) VALUES (N'cuong1709 ', N'123456    ')
GO
INSERT [dbo].[THELOAI] ([MATL], [TENTL]) VALUES (N'TL01      ', N'Tinh Cam')
INSERT [dbo].[THELOAI] ([MATL], [TENTL]) VALUES (N'TL03      ', N'Gia Tuong va Khoa Hoc Vien Tuong')
INSERT [dbo].[THELOAI] ([MATL], [TENTL]) VALUES (N'TL04      ', N'Kinh Di, Giat Gan')
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_PHANQUYEN]  DEFAULT ((-1)) FOR [PHANQUYEN]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_MATKHAU]  DEFAULT (N'*') FOR [MATKHAU]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUNHA] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUNHA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_SACH]
GO
ALTER TABLE [dbo].[CHUCVU_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_CHUCVU_N_CHUCVU_NH_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[CHUCVU_NHANVIEN] CHECK CONSTRAINT [FK_CHUCVU_N_CHUCVU_NH_CHUCVU]
GO
ALTER TABLE [dbo].[CHUCVU_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_CHUCVU_N_CHUCVU_NH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHUCVU_NHANVIEN] CHECK CONSTRAINT [FK_CHUCVU_N_CHUCVU_NH_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CHITIETHO_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_CHITIETHO_KHACHHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN__NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN__NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON_SACH]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_S_HOADON_SA_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[HOADON_SACH] CHECK CONSTRAINT [FK_HOADON_S_HOADON_SA_HOADON]
GO
ALTER TABLE [dbo].[HOADON_SACH]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_S_HOADON_SA_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[HOADON_SACH] CHECK CONSTRAINT [FK_HOADON_S_HOADON_SA_SACH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_RELATIONS_TAIKHOAN] FOREIGN KEY([TENTAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_RELATIONS_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_NHANVIEN__NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_NHANVIEN__NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_PHIEUNHAP_NHACUNGC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_PHIEUNHAP_NHACUNGC]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_RELATIONS_THELOAI] FOREIGN KEY([MATL])
REFERENCES [dbo].[THELOAI] ([MATL])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_RELATIONS_THELOAI]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_XUATBAN_NHAXUATB] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_XUATBAN_NHAXUATB]
GO
ALTER TABLE [dbo].[TACGIA_SACH]  WITH CHECK ADD  CONSTRAINT [FK_TACGIA_S_TACGIA_SA_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[TACGIA_SACH] CHECK CONSTRAINT [FK_TACGIA_S_TACGIA_SA_SACH]
GO
ALTER TABLE [dbo].[TACGIA_SACH]  WITH CHECK ADD  CONSTRAINT [FK_TACGIA_S_TACGIA_SA_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[TACGIA_SACH] CHECK CONSTRAINT [FK_TACGIA_S_TACGIA_SA_TACGIA]
GO
/****** Object:  StoredProcedure [dbo].[delete_Nhanvien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[delete_Nhanvien] @ma varchar(10)
as
begin
	Delete CHUCVU_NHANVIEN where MANV = @ma
	delete HOADON where MANV = @ma
	delete NHANVIEN where MANV = @ma
end
GO
/****** Object:  StoredProcedure [dbo].[DoanhThu_Ngay]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DoanhThu_Ngay]
AS
	SET NOCOUNT ON;
select SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,cast(DONGIA as int) as DONGIA, sum(HOADON_SACH.SOLUONGBAN) as SoLuong 
from HOADON_SACH,SACH,HOADON 
where HOADON_SACH.MASACH=SACH.MASACH
and HOADON.MAHD=HOADON_SACH.MAHD
and SACH.MASACH=HOADON_SACH.MASACH
and NGAYIN=GETDATE()
group by SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,DONGIA
GO
/****** Object:  StoredProcedure [dbo].[DoanhThuThang]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DoanhThuThang]
AS
	SET NOCOUNT ON;
select SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,cast(DONGIA as int) as DONGIA, count(SACH.MASACH) as SoLuong
from HOADON_SACH,SACH,HOADON
where HOADON_SACH.MASACH=SACH.MASACH 
and HOADON.MAHD=HOADON_SACH.MAHD
and NGAYIN >= '2022-11-12' 
and NGAYIN< dateadd(day,1,'2022-12-12')
group by SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,DONGIA
GO
/****** Object:  StoredProcedure [dbo].[DoanhThuTuan]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DoanhThuTuan]
AS
	SET NOCOUNT ON;
select SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,cast(DONGIA as int) as DONGIA, count(SACH.MASACH) as SoLuong
from HOADON_SACH,SACH,HOADON
where HOADON_SACH.MASACH=SACH.MASACH 
and HOADON.MAHD=HOADON_SACH.MAHD
and NGAYIN >= '2022-11-12' 
and NGAYIN< dateadd(day,1,'2022-12-12')
group by SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,DONGIA
GO
/****** Object:  StoredProcedure [dbo].[FillBy_CTPN_TheoMa]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillBy_CTPN_TheoMa]
(
	@ma char(10)
)
AS
	SET NOCOUNT ON;
SELECT    MASACH, MAPN, SOLUONGNHAP, DONGIANHAP
FROM         CHITIETPHIEUNHAP
WHERE     (MAPN = @ma)
GO
/****** Object:  StoredProcedure [dbo].[getdata_Nhanvien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getdata_Nhanvien] 
as
begin
SELECT    nv.MANV, nv.TENTAIKHOAN, nv.HOTEN, nv.NGAYSINH, nv.SDT, nv.DIACHI, cv.TENCV
FROM         NHANVIEN AS nv INNER JOIN
                      CHUCVU_NHANVIEN AS ct ON nv.MANV = ct.MANV AND nv.MANV = ct.MANV AND nv.MANV = ct.MANV INNER JOIN
                      CHUCVU AS cv ON ct.MACV = cv.MACV
end
GO
/****** Object:  StoredProcedure [dbo].[GetDataBy_MaSach]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDataBy_MaSach]
AS
	SET NOCOUNT ON;
SELECT MASACH, MANXB, MATL, TENSACH, NAMXB FROM dbo.SACH
GO
/****** Object:  StoredProcedure [dbo].[GetDataByMaSach]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDataByMaSach]
AS
	SET NOCOUNT ON;
SELECT MASACH, MANXB, MATL, TENSACH, NAMXB FROM dbo.SACH
GO
/****** Object:  StoredProcedure [dbo].[GetDataByMaSach(@masach)]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDataByMaSach(@masach)]
(
	@masach char(10)
)
AS
	SET NOCOUNT ON;
SELECT MASACH, MANXB, MATL, TENSACH, NAMXB FROM dbo.SACH where MASACH=@masach
GO
/****** Object:  StoredProcedure [dbo].[GetDataSach]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDataSach]
AS
	SET NOCOUNT ON;
select SACH.MASACH,TENSACH,SACH.MATL, SACH.MANXB,NAMXB,TENTL,cast( DONGIA as int)as DonGia,TENNXB
from SACH,THELOAI,NHAXUATBAN
where SACH.MATL=THELOAI.MATL
and SACH.MANXB=NHAXUATBAN.MANXB
group by SACH.MASACH,TENSACH,SACH.MATL, SACH.MANXB,NAMXB,TENTL,DONGIA,TENNXB
GO
/****** Object:  StoredProcedure [dbo].[InsertQuery]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertQuery]
(
	@MASACH char(10),
	@MAPN char(10),
	@SOLUONGNHAP int,
	@DONGIANHAP money
)
AS
	SET NOCOUNT OFF;
INSERT INTO [dbo].[CHITIETPHIEUNHAP] ([MASACH], [MAPN], [SOLUONGNHAP], [DONGIANHAP]) VALUES (@MASACH, @MAPN, @SOLUONGNHAP, @DONGIANHAP);
	
SELECT MASACH, MAPN, SOLUONGNHAP, DONGIANHAP FROM CHITIETPHIEUNHAP WHERE (MAPN = @MAPN) AND (MASACH = @MASACH)
GO
/****** Object:  StoredProcedure [dbo].[Kiemtra_DangNhap]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Kiemtra_DangNhap]
(
	@mk nchar(10),
	@ten nchar(20)
)
AS
	SET NOCOUNT ON;
SELECT    COUNT(*) AS Expr1
FROM         TAIKHOAN
WHERE     (MATKHAU = @mk) AND (TENTAIKHOAN = @ten)
GO
/****** Object:  StoredProcedure [dbo].[KiemtraKhoa_TaiKhoan_NhanVien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[KiemtraKhoa_TaiKhoan_NhanVien] @chuoi varchar(10)
as
begin
	select count(*) from TAIKHOAN tk, NHANVIEN nv where tk.TENTAIKHOAN = nv.TENTAIKHOAN and tk.TENTAIKHOAN = @chuoi
end
GO
/****** Object:  StoredProcedure [dbo].[ktraK]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ktraK] @ms char(10)
As
Begin
	Select COUNT(*) from SACH where MASACH = @ms 
End
GO
/****** Object:  StoredProcedure [dbo].[ktraKhoa]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ktraKhoa] @sdt char(10)
As
Begin
	Select COUNT(*) from KHACHHANG where SDT = @sdt 
End
GO
/****** Object:  StoredProcedure [dbo].[ktraKhoa_ChucVu]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ktraKhoa_ChucVu] @ma varchar(10)
as
begin
	select count(*) from CHUCVU where MaCV = @ma
end;
GO
/****** Object:  StoredProcedure [dbo].[ktraKhoa_KhachHang]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ktraKhoa_KhachHang] @ma varchar(10)
as
begin
	select count(*) from khachhang where MaKh = @ma
end;
GO
/****** Object:  StoredProcedure [dbo].[ktraKhoa_NhanVien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ktraKhoa_NhanVien] @ma varchar(10)
as
begin
	select count(*) from NHANVIEN where MANV = @ma
end;
GO
/****** Object:  StoredProcedure [dbo].[ktraKhoa_NXB]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[ktraKhoa_NXB] @manxb char(10)
As
Begin
	Select COUNT(*) from NHAXUATBAN where MANXB = '@manxb' 
End
GO
/****** Object:  StoredProcedure [dbo].[ktraKhoa_PhieuNhap]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[ktraKhoa_PhieuNhap] @mapn char(10)
As
Begin
	Select COUNT(*) from PHIEUNHAP where MAPN = '@mapn' 
End
GO
/****** Object:  StoredProcedure [dbo].[ktraKhoa_Sach]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ktraKhoa_Sach] @masach char(10)
As
Begin
	Select COUNT(*) from SACH where MASACH=@masach
End
GO
/****** Object:  StoredProcedure [dbo].[ktraKhoa_TaiKhoan]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ktraKhoa_TaiKhoan] @ma varchar(10)
as
begin
	select count(*) from TAIKHOAN where TENTAIKHOAN = @ma
end;
GO
/****** Object:  StoredProcedure [dbo].[NhanVien_TheoChucVu_NhanVien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NhanVien_TheoChucVu_NhanVien] @ma varchar(10)
as
begin
	select * from NHANVIEN nv, CHUCVU_NHANVIEN cv  where nv.MANV = cv.MANV and cv.MACV = @ma
end;
GO
/****** Object:  StoredProcedure [dbo].[ScalarQuery_PhanQuyen]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ScalarQuery_PhanQuyen]
(
	@tendangnhap char(10)
)
AS
	SET NOCOUNT ON;
SELECT    CAST(nv.PHANQUYEN AS int) AS Expr1
FROM         NHANVIEN AS nv INNER JOIN
                      CHUCVU_NHANVIEN AS cvnv ON nv.MANV = cvnv.MANV INNER JOIN
                      CHUCVU AS cv ON cvnv.MACV = cv.MACV
WHERE     (nv.TENTAIKHOAN = @tendangnhap)
GO
/****** Object:  StoredProcedure [dbo].[ThongTinKhachHang]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongTinKhachHang]
(
	@ma char(10)
)
AS
	SET NOCOUNT ON;
SELECT    MAKH, TENKH, DIEMTICHLUY, SDT, NGAYDANGKY, DIACHI
FROM         KHACHHANG
WHERE     (SDT = @ma) OR
                      (MAKH = @ma)
GO
/****** Object:  StoredProcedure [dbo].[Thongtinnhanvien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Thongtinnhanvien]
(
	@ma char(10)
)
AS
	SET NOCOUNT ON;
SELECT    MANV, TENTAIKHOAN, HOTEN, NGAYSINH, SDT, DIACHI, PHANQUYEN
FROM         NHANVIEN
WHERE     (TENTAIKHOAN = @ma)
GO
/****** Object:  StoredProcedure [dbo].[TimKiem_KhachHang]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TimKiem_KhachHang] @chuoi varchar(10)
as
begin
	select *
	from khachhang
	where Makh like '%'+@chuoi+'%' or Tenkh like '%'+@chuoi+'%' or
	diachi like '%'+@chuoi+'%' or diemtichluy like @chuoi or sdt like '%'+@chuoi+'%'
	or NGAYDANGKY like @chuoi
end
GO
/****** Object:  StoredProcedure [dbo].[TimKiem_NhanVien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TimKiem_NhanVien] @chuoi varchar(10)
as
begin
	select *
	from NHANVIEN
	where MANV like '%'+@chuoi+'%' or HOTEN like '%'+@chuoi+'%' or
	diachi like '%'+@chuoi+'%' or NGAYSINH like @chuoi or sdt like '%'+@chuoi+'%'
	or TENTAIKHOAN like @chuoi
end
GO
/****** Object:  StoredProcedure [dbo].[TimKiem_TaiKhoan]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TimKiem_TaiKhoan] @chuoi varchar(10)
as
begin
	select *
	from TAIKHOAN
	where TENTAIKHOAN like '%'+@chuoi+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[timSach]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[timSach] @chuoi nvarchar(40)
As
Begin
	Select * from SACH  where MASACH like '%'+ @chuoi+'%' or TENSACH like '%'+@chuoi+'%'  
End
GO
/****** Object:  StoredProcedure [dbo].[TimSachTheoMaLoai]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[TimSachTheoMaLoai] @maLoai char(10)
As
Begin
	Select * from Sach where MATL = @maLoai
End
GO
/****** Object:  StoredProcedure [dbo].[TongDoanhThu]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TongDoanhThu]
AS
	SET NOCOUNT ON;
select SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,cast(DONGIA as int) as DONGIA, sum(HOADON_SACH.SOLUONGBAN) as SoLuong 
from HOADON_SACH,SACH,HOADON 
where HOADON_SACH.MASACH=SACH.MASACH
and HOADON.MAHD=HOADON_SACH.MAHD
and SACH.MASACH=HOADON_SACH.MASACH
group by SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,DONGIA
GO
/****** Object:  StoredProcedure [dbo].[TongTheLoai]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TongTheLoai]
AS
	SET NOCOUNT ON;
SELECT COUNT(*) FROM THELOAI
GO
/****** Object:  StoredProcedure [dbo].[TonKho]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TonKho]
AS
	SET NOCOUNT ON;
select SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,cast(DONGIA as int)as DONGIA,
sum(SOLUONGNHAP-SOLUONGBAN) as SoLuong
from HOADON_SACH,SACH,CHITIETPHIEUNHAP
where SACH.MASACH=CHITIETPHIEUNHAP.MASACH

group by SACH.MASACH,TENSACH,MATL, MANXB,NAMXB,DONGIA
GO
/****** Object:  StoredProcedure [dbo].[traveKH]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[traveKH] @makh char(10)
As
Begin
	Select * from KHACHHANG where MAKH = @makh
End
GO
/****** Object:  StoredProcedure [dbo].[update_Nhanvien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update_Nhanvien] @ma varchar(10), @macu varchar(10)
as
begin
	update CHUCVU_NHANVIEN 
	set MANV = NULL
	where MANV = @macu
	Update HOADON
	set MaNV = NULL
	where MANV = @macu
	Update NHANVIEN
	set MaNV = @ma
	 where MANV = @macu
	 update CHUCVU_NHANVIEN 
	set MANV = @ma
	where MANV = NULL
	Update HOADON
	set MaNV = @ma
	where MANV = NULL
end

GO
/****** Object:  StoredProcedure [dbo].[XoaChuVu_NhanVien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaChuVu_NhanVien] @cv varchar(10)
as
begin
	Delete CHUCVU_NHANVIEN where MANV = @cv
end
GO
/****** Object:  StoredProcedure [dbo].[XoaTaiKhoan_NhanVien]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaTaiKhoan_NhanVien] @tentk varchar(10)
as
begin
	update NHANVIEN
	set TENTAIKHOAN = NULL
	where TENTAIKHOAN = @tentk
	Delete TAIKHOAN where TENTAIKHOAN = @tentk
end
GO
/****** Object:  Trigger [dbo].[phanquyen]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[phanquyen] on [dbo].[CHUCVU_NHANVIEN]
for insert, update
as
begin
 declare @tencv nvarchar(50)
 set @tencv = (select TenCV from NHANVIEN nv
	inner join CHUCVU_NHANVIEN cvnv
	on nv.MANV = cvnv.MANV
	inner join CHUCVU cv
	on cvnv.MACV = cv.MACV where nv.MANV = (select MANV from inserted))
	if @tencv like N'%quản lý%'
		update NHANVIEN
		set PHANQUYEN =1 
		where MANV = (select MANV from inserted)

		if @tencv like N'%thu ngân%'
			update NHANVIEN
		set PHANQUYEN =2
		where MANV = (select MANV from inserted)
	if @tencv like N'%admin%'
		update NHANVIEN
			set PHANQUYEN =0
			where MANV = (select MANV from inserted)
			if @tencv like N'%kho%'
			update NHANVIEN
			set PHANQUYEN =3
			where MANV = (select MANV from inserted)
			
			

end;
GO
ALTER TABLE [dbo].[CHUCVU_NHANVIEN] ENABLE TRIGGER [phanquyen]
GO
/****** Object:  Trigger [dbo].[capnhapdongia]    Script Date: 12/17/2022 10:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create trigger [dbo].[capnhapdongia] on [dbo].[HOADON_SACH]
  for insert, update
  as
  begin
	update HOADON_SACH
	set DONGIABAN= SOLUONGBAN * (Select DONGIA from SACH where MASACH = (Select MASACH from inserted))
	where MASACH = (Select MASACH from inserted) and MAHD = (Select MAHD from inserted)
  end;
GO
ALTER TABLE [dbo].[HOADON_SACH] ENABLE TRIGGER [capnhapdongia]
GO
